# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import os
import glob
import psycopg2
import pandas as pd
from io import StringIO
from sql_queries import *

In [2]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [3]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [ ]:
song_files = get_files('data/song_data')

In [ ]:
# check number of files
len(song_files)

In [ ]:
# select firts file
filepath = song_files[0]

In [ ]:
df = pd.read_json(filepath, lines=True)
df.head()

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [ ]:
song_data = df[['song_id','title','artist_id','year','duration']].values[0].tolist()
song_data

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [ ]:
cur.execute(song_table_insert, song_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [ ]:
artist_data = df[['artist_id','artist_name','artist_location', 'artist_latitude', 'artist_longitude']].values[0].tolist()
artist_data

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [ ]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [4]:
log_files = get_files('data/log_data')

In [5]:
# check that we have 30/31 files for the selected month
len(log_files)

30

In [6]:
filepath = log_files[0]

In [7]:
df = pd.read_json(filepath, lines=True)
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Walter,M,0,Frye,NaN,free,"San Francisco-Oakland-Hayward, CA",GET,Home,1540919166796,38,None,200,1541105830796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",39
1,None,Logged In,Kaylee,F,0,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Home,1540344794796,139,None,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
3,None,Logged In,Kaylee,F,2,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Upgrade,1540344794796,139,None,200,1541106132796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8

In [8]:
# check values for level -> 2 levels free/paid
df['level'].unique()

array(['free'], dtype=object)

In [9]:
#  check columns list and type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   artist         11 non-null     object
 1   auth           15 non-null     object
 2   firstName      15 non-null     object
 3   gender         15 non-null     object
 4   itemInSession  15 non-null     int64
 5   lastName       15 non-null     object
 6   length         11 non-null     float64
 7   level          15 non-null     object
 8   location       15 non-null     object
 9   method         15 non-null     object
 10  page           15 non-null     object
 11  registration   15 non-null     int64
 12  sessionId      15 non-null     int64
 13  song           11 non-null     object
 14  status         15 non-null     int64
 15  ts             15 non-null     int64
 16  userAgent      15 non-null     object
 17  userId         15 non-null     int64
dtypes: float64(1), int64(6), object(11)
memory usage: 2.2+ KB

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [10]:
df = df.loc[df.page == 'NextSong']
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
4,Mr Oizo,Logged In,Kaylee,F,3,Summers,144.03873,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Flat 55,200,1541106352796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
5,Tamba Trio,Logged In,Kaylee,F,4,Summers,177.18812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Quem Quiser Encontrar O Amor,200,1541106496796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
6,The Mars Volta,Logged In,Kaylee,F,5,Summers,380.42077,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Eriatarka,200,1541106673796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
7,Infected Mushroom,Logged In,Kaylee,F,6,Summers,440.26730,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1540344794796,139,Becoming Insane,200,1541107053796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8

In [11]:
# we have a subset of 11 records
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11 entries, 2 to 14
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   artist         11 non-null     object
 1   auth           11 non-null     object
 2   firstName      11 non-null     object
 3   gender         11 non-null     object
 4   itemInSession  11 non-null     int64
 5   lastName       11 non-null     object
 6   length         11 non-null     float64
 7   level          11 non-null     object
 8   location       11 non-null     object
 9   method         11 non-null     object
 10  page           11 non-null     object
 11  registration   11 non-null     int64
 12  sessionId      11 non-null     int64
 13  song           11 non-null     object
 14  status         11 non-null     int64
 15  ts             11 non-null     int64
 16  userAgent      11 non-null     object
 17  userId         11 non-null     int64
dtypes: float64(1), int64(6), object(11)
memory usage: 1.6+ KB

In [12]:
# convert to timestamp
t = pd.to_datetime(df['ts'], unit='ms')
t.head()

2   2018-11-01 21:01:46.796
4   2018-11-01 21:05:52.796
5   2018-11-01 21:08:16.796
6   2018-11-01 21:11:13.796
7   2018-11-01 21:17:33.796
Name: ts, dtype: datetime64[ns]

In [13]:
# create dataframe
time_df = pd.DataFrame({'start_time' : t,
                'hour' : t.dt.hour,
                'day' : t.dt.day,
                'week' : t.dt.week,
                'month' : t.dt.month,
                'year' : t.dt.year,
                'weekday' : t.dt.weekday})
time_df.head()

               start_time  hour  day  week  month  year  weekday
2 2018-11-01 21:01:46.796    21    1    44     11  2018        3
4 2018-11-01 21:05:52.796    21    1    44     11  2018        3
5 2018-11-01 21:08:16.796    21    1    44     11  2018        3
6 2018-11-01 21:11:13.796    21    1    44     11  2018        3
7 2018-11-01 21:17:33.796    21    1    44     11  2018        3

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [ ]:
# use this commands for row by row insertion (slower)
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

In [14]:
#  use copy command to do batch data insert (faster)
f = StringIO()
time_df.to_csv(f, header=None, index=None, sep=',')
f.seek(0)
cur.copy_expert(time_table_copy, f)
conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [15]:
user_df = df[['userId','firstName', 'lastName', 'gender', 'level']]
user_df.head()

   userId firstName lastName gender level
2       8    Kaylee  Summers      F  free
4       8    Kaylee  Summers      F  free
5       8    Kaylee  Summers      F  free
6       8    Kaylee  Summers      F  free
7       8    Kaylee  Summers      F  free

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [ ]:
# use this commands for row by row insertion (slower)
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

In [16]:
#  use copy command to do batch data insert (faster) -> give conflict on primary key so better to use row by row insertion
f = StringIO()
user_df.to_csv(f, header=None, index=None, sep=',')
f.seek(0)
cur.copy_expert(user_table_copy, f)
conn.commit()

SyntaxError: syntax error at or near "ON"
LINE 5:                         ON CONFLICT (user_id)
                                ^

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [ ]:
df_songplays = pd.DataFrame(data=[],columns=['start_time', 'user_id', 'level', 'song_id', 'artist_id', 'session_id','location', 'user_agent'])

In [ ]:
df_songplays.info()

In [ ]:
songplays_dump_data = list()
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    # append songplay record to songplays dump data list
    songplay_data = (pd.to_datetime(row.ts, unit = 'ms'), row.userId, row.level, songid, artistid, row.sessionId,row.location, row.userAgent)
    songplays_dump_data.append(songplay_data)

In [ ]:
# create a DataFrame from dump data
df_songplays = pd.DataFrame(songplays_dump_data, columns=['start_time', 'user_id', 'level', 'song_id', 'artist_id', 'session_id','location', 'user_agent'])

In [ ]:
# save dataframe with dump data to StringIO objet and copy to table songplays
f = StringIO()
df_songplays.to_csv(f, header=None, index=None, sep=',')

In [ ]:
# copy batch dumped data to songplays table instead of row by row insert
# using songplay_table_copy query from sql_queries.py
f.seek(0)
cur.copy_expert(songplay_table_copy, f)
conn.commit()

In [ ]:
# use this command to insert row by row to songplays
# cur.execute(songplay_table_insert, songplay_data)
# conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [ ]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.